table{
    border-style: solid; border-width: thin; border-color: black;
}
td, th{
    border-style: solid; border-width: thin;
} 
tbody tr:nth-of-type(odd) td, th[scope="row"]{ 
    background-color: rgb(120, 228, 120);
}
tbody tr:nth-of-type(even) td, th[scope="row2"]{
    background-color: rgb(185, 185, 255);
}

tbody tr:nth-of-type(6) td{background-color: transparent}
th[scope="row"], th[scope="row2"]  {
    font-style: italic; font-weight: normal;
}
div.outer-content {
    padding-top: 20px; width: 75% ; background-color: rgb(245, 187, 245);
    position: relative;
}
div.inner-content {
     background-color: rgb(114, 216, 241); width: 75%;
    text-align:center; margin:auto; 
     transform: translatey(-50%)
}